.ace_editor {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.ace_gutter-layer  {
  padding-top: 5px !important;
  padding-bottom: 5px;
}

 .ace_marker-layer {
   padding-top: 5px !important;
   padding-bottom: 5px;
 }

 .ace_gutter-active-line {
   margin-top: 4px !important;
 }


.ace_content {
  padding-top: 5px !important;
  padding-bottom: 5px;
  padding-left: 5px;
}
